.contentArea {
  width: 75vw; 
  margin: 0 auto;
  background-color: lightgray;
  padding: 20px;
  border: 1px solid gray;
}
.header {
  margin: 0 auto;
  padding: 20px;
}

h1 {
  font-weight: bold;
}